#copyright {
    text-align: center;
    font-size: 90%;
}
 body {
    font-size: 1em;
    display: block;
    background-color: white;
 }
 header img {
    float: left;
 }
 header h2 {
   font-size: 250%;
   margin-left: 11%;
 }
 header h3 {
   margin-left: 12%;
   font-size: 150%;
   font-weight: bold;
 }
 p {
    font-size: 100%
 }
 h1 {
    font-size: 200%;
 }
 h2 {
    font-size: 150%;
 }
 h3 {
    font-size: 117%;
 }
 main h1 {
    font-size: 140%;
    font-weight: bold;
 }
main h1:first-letter {
    font-size: 250%;
}
a:visited, a:link {
   color: orange;
   font-weight: bold;
}
a:hover, a:focus {
   color: green;
}
ul {
   line-height: 150%;
}
ul li a {
   text-decoration: underline;
}