#copyright {
    text-align: center;
    font-size: 90%;
}
footer {
    border: 0 1 0 0 black;
    border-top: 3px solid black;
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
    padding: 10px;
   }
 body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 800px;
    background-color: white;
    border: 3px black;
    box-shadow: 0px 6px 12px 6px black;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
 }
 html {
   background-image: url("../images/bats.gif");
 }
 h1, h2, h3, p {
   margin: 0;
   padding: 0;
 }
 header { 
   border-bottom: 3px solid black;
   background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
   padding: 10px;
}
 header img {
    float: left;
    padding-right: 10px;
 }
 header h2 {
   font-size: 250%;
   margin-left: 10%;
   font-weight: bold;
 }
 h2 {
   font-weight: bold;
 }
 header h3 {
   font-size: 125%;
   margin-left: 13%;
 }
 p {
    font-size: 100%;
 }
 h1 {
    font-size: 200%;
 }
 h2 {
    font-size: 150%;
 }
 h3 {
    font-size: 117%;
 }
 main {
    margin: 20px 25px 25px 25px;
 }
 main h1 {
    font-size: 140%;
    margin-bottom: .5em;
 }
 main h2 {
   font-size: 125%;
   margin-bottom: .5em;
 }
 main h3 {
   font-size: 110%;
   margin-bottom: .5em;
 }
 main p {
   margin-bottom: .5em;
 }
 main ul {
   margin-top: 0%
 }
 article {
    margin: 20px 25px 25px 25px;
 }
main h1:first-letter {
    font-size: 250%;
}
a:visited, a:link {
   color: orange;
   font-weight: bold;
}
a:hover, a:focus {
   color: green;
}
ul {
   line-height: 150%;
}
ul li a {
   text-decoration: underline;
}