#copyright {
    text-align: center;
    font-size: 90%;
}
footer {
    border-top: 3px solid black;
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
    padding: .9375em 1.875%;
    clear: both;
   }
 body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 95%;
    background-color: white;
    box-shadow: 0px 6px 12px 6px black;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    max-width: 960px;
 }
 html {
   background-image: url("../images/bats.gif");
 }
 h1, h2, h3, p {
   margin: 0;
   padding: 0;
 }
 header { 
   background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
   padding: .9375em 1.875%;
}
 header img {
    float: left;
    padding-right: 1.875%;
    width: 10.6%;
    max-width: 85px;
    min-width: 40px;
 }
 header h2 {
   font-size: 230%;
 }
 header h3 {
   font-size: 125%;
   padding-bottom: .75em;
 }
 section h1 {
    font-size: 140%;
    margin-bottom: .5em;
 }
 section h2 {
   font-size: 125%;
   margin-bottom: .5em;
 }
 section h3 {
   font-size: 110%;
   margin: .8em 0 .5em 0;
 }
 section p {
   margin-bottom: .5em;
 }
section h1:first-letter {
    font-size: 250%;
}
section a:visited, a:link {
   color: orange;
}
section a {
    font-weight: bold;
    color: orange;
}
section a:hover, a:focus {
   color: green;
}
section img {
    width: 30%;
    max-width: 150px;
}
aside {
    float: left;
    width: 20%;
    padding: 1.25em 0;
}
aside ul {
    line-height: 1.5;
}
section {
    float: right;
    padding: 1.25em 5% 1.25% 2.5%;
    width: 72.5%;
}
/* Nav menu */
#nav_menu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
#nav_menu {
    clear: left;
}
#nav_menu ul li {
    float: left;
    width: 20%;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .7em 0;
    text-decoration: none;
    background-color: black;
    color: white;
}
#nav_menu ul li a.current {
    color: orange;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu ul li:hover ul {
    width: 100%
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: gray;
}
/* aside bar */
* {
    margin: 0;
    padding: 0;
}
#nav_list ul {
    list-style-type: none;
    padding-left: 15%;
    width: 68.75%
}
#nav_list ul li {

    margin-bottom: .5em;
    border: 2px solid black;
}
#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 7.27272%;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: orange;
}
#mobile_menu {
    display: none;
}
@media only screen and (max-width: 800px) {
    html {
        background-image: none;
    }
    body {
        font-size: 90%;
        box-shadow: none;
    }
}
@media only screen and (max-width: 667px) {
    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    header h2 {
        font-size: 200%;
    }
    section {
        width: 90%;
        float: none;
        padding-bottom: .5em;
        padding-left: 5%;
    }
    aside {
        width: 90%;
        float: none;
        padding: 0 5% 1em 5%;
    }
    #nav_list ul {
        width: 50%;
        padding-left: 25%;
        text-align: center;
    }
    #nav_list ul li a {
        padding-left: 0;
    }
}

@media only screen and (max-width:479px) {
    header h2 {
        font-size: 180%;
    }
    header h3 {
        font-size: 115%;
    }
    section h1 {
        font-size: 130%;
    }
    section h1:first-letter {
        font-size: 180%;
    }
}